.navbar{
    padding: 0;
    margin: 0;
    .navbar-brand {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 800;
        
        span{
            color: rgb(192, 156, 66);
            border-bottom: 2px solid rgb(192, 156, 66);
        }
    }
    
    .navbar-nav{
        .nav-item{
            .nav-link{
                font-size: 1.4rem;
                font-weight: 500;
            }
            .nav-link:hover{
                color: rgb(153, 106, 19);
                transition: ease-in-out 0.3s;
            } 
        }
    }     
}

@keyframes animate {
    from {
        top: 0;
        bottom: 0;
    }
    to{
        top: 75px;
        bottom: 0;
    }
}

@media screen and (max-width: 572px) {
    
    .navbar-collapse{
        position: absolute;
        top: 77px;
        background-color: #444;
        width: auto;
        height: 40vh;
        right: 0;
        left: 0;
        margin: 0 5px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-top: 20px;
        box-shadow: 0 4px 10px rgba($color: #242321, $alpha: 0.6) ;
        z-index: 100;
        animation: animate 1s;
        transition: all 3s ease-in-out;

        .nav-item{  
            transition: all 3s ease-in-out; 
            .nav-link{
                padding: 20px 40px;
                font-size: 1.8rem;
                border-bottom: #685d30 1px solid;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                color: #fff;
            }
            .nav-link:hover{
                background-color: #242321;
                color: #fff;
                border-radius: 10px;
            }
        }
    }

    .menu-icon{
        display: inline-block;
        position: relative;
        right: 0;
        top: 3px;
       
        span{
            width: 32px;
            height: 3px;
            background-color: #444;
            display: block;
            transition: 0.3s ease-in-out;
        }
        span:nth-child(2){
            margin: 6px 0;
        }
    }
    
    .menu_icon_Class span:nth-child(2){
        display: none;
    }
    .menu_icon_Class span:nth-child(1){
        transform: rotate(40deg);
    }
    .menu_icon_Class span:nth-child(3){
        transform: rotate(-40deg);
    }
    
}
