<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="footer">
  <footer class="text-center text-lg-start">
    <div class="container d-flex justify-content-center py-5">
      <div class="rso">
        <button type="button" class="btn btn-floating mx-2">
          <i class="bi bi-facebook"></i>
        </button>
        <button type="button" class="btn btn-lg btn-floating mx-2">
          <i class="bi bi-linkedin"></i>
        </button>
        <button type="button" class="btn btn-lg btn-floating mx-2">
          <i class="bi bi-instagram"></i>
        </button>
        <button type="button" class="btn btn-lg btn-floating mx-2">
          <i class="bi bi-twitter"></i>
        </button>
      </div>
    </div>

    <!-- Copyright -->
    <div class="text-center text-white copyright p-3">
      © 2023 Copyright:
      <a class="text-white" href="www.my-vip-boat.com">my-vip-boat.com</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
