<div class="banner">
    <div class="about">
        <h1>qui sommes Nous</h1>
    </div>
</div>

<div class="container">
    <h3 class="pt-5">A propos de nous</h3>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <img src="" alt="">
        </div>
        <div class="col-md-6 col-lg-6">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor mollitia 
                vitae at quis cumque cupiditate culpa provident similique reprehenderit 
                nesciunt ullam animi, cum autem ducimus reiciendis officia quidem exercitationem voluptates.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Odit impedit quasi et sequi animi, deserunt rem soluta aut odio nostrum 
                hic. Dolor ipsum odit dolore laborum error, eaque repudiandae porro!
            </p>
        </div>
    </div>
</div>